body {
	font-family: sans-serif;
	min-width: 200px;
	padding: 10px;
	font-size: 0.9rem;
}

button {
	border-width: 2px;
	border-radius: 5px;
	font-size: 0.9rem;
	font-weight: bold;
	padding: 0.5rem 1.5rem 0.5rem 0.5rem;
}

button#calc {
	background: transparent url(../images/icon-calculator.svg) no-repeat right 0.25rem center;
	background-size: 1.25rem 1.25rem;
	padding-right: 1.75rem;
}

#result {
	margin-top: 8px;

	&:empty {
		margin-top: 0;
	}
}
